# Visual Studio
.vs/
*.user

# Build results
bin/
obj/

# NuGet
*.nupkg
packages/

# Publish output
publish/
Output/

# JetBrains Rider
.idea/

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Windows Application Packaging Project files
PocketDropPackage/AppPackages/
PocketDropPackage/BundleArtifacts/
PocketDropPackage/bin/
PocketDropPackage/obj/
*.wapproj.user
*.assets.cache